html, body {
    height: 100%;
    width: 100%;
    background: #642B73;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #C6426E, #642B73);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #C6426E, #642B73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    align-items: center;
}
#video {
    /* width: 80%; */
    border: 1px solid black;
    /* max-width: 900px; */
    margin: 1rem;
    background: rgba(0, 0, 0, 0.4);
}

.videoCont {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
}
.videoCtrlBtn{
    display: flex;
    justify-content: center;
}

.btn {
    padding: 0.4rem;
    height: 50px;
    margin: 0.3rem;
    width: auto;
    color: white;
    border: none;
    border-radius: 15px;
    background: #ff7e5f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #feb47b, #ff7e5f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #feb47b, #ff7e5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: x-large;
    font-weight: bold;
}
